/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height:800px;
}
iframe{
  height:800px;
  width:100%;
}
.search{
  display:flex;
  flex-direction: column;
  justify-self:center;
  align-items: center;
  justify-items:space-between;
  align-items:space-between;
  padding:5px;
}

.info{
  padding:20px;
}

input{
  width:25%;
  height:50px;
}

button{
  height:50px;
}
@media only screen and (max-width:480px){
  input[type=date], textarea {
    width:75%;
    height:50px;
  }
  button{
    width:75%;
    height:30px;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
